/* Stylesheet used for the learning & practice module. */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

html {
    font-family: 'Work Sans', sans-serif;
    height: 100%;
    background-image: url(../images/batman-back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: rgba(145, 206, 241, 0.9);
    min-height: 100%;
    font-size: 18px;
    border-radius: 50px;
}

header {
    text-align: center;
    background-color: rgba(9, 1, 80, 0.6);
    color: white;
    padding: 20px 20px;
    font-size: 70px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-family: 'Badaboom';
}

.character-outlook {
    width: 25%;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.character-outlook img {
    width: 100%;
    height: auto;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 20px;
}

.character-description {
    margin: 0 10px 10px 10px;
}

.character-description p {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.content {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.entry {
    padding-bottom: 15px;
}

.question {
    font-size: 25px;
}

.answers {
    font-size: 20px;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#results {
    padding-bottom: 10px;
}

#buttonGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#toMenu, #toWiki, #retry, #submit {
    font-size: 30px;
    width: auto;
    color: white;
    background-color: rgba(9, 1, 80);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    justify-self: center;
    transition: 0.3s;
}

#toMenu:hover, #toWiki:hover, #retry:hover, #submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

#toMenu:focus, #toWiki:focus, #retry:focus, #submit:focus {
    outline: none;
}

#toMenu img {
    width: 100%;
    height: auto;
    filter: invert(100%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    .character-outlook {
        width: 100%;
    }

    #toMenu {
        width: 50%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        width: 100%;
    }

    .character-outlook {
        width: 50%;
    }

    #toMenu {
        width: 45%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 80%;
    }

    .character-outlook {
        width: 45%;
    }

    #toMenu {
        width: 40%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        width: 70%;
    }
    
    .character-outlook {
        width: 40%;
    }

    #toMenu {
        width: 35%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        width: 65%;
    }

    .character-outlook {
        width: 35%;
    }

    #toMenu {
        width: 30%;
    }
}

@media only screen and (min-width: 1500px) {
    .character-outlook {
        width: 30%;
    }

    #toMenu {
        width: 15%;
    }
}

@font-face {
    font-family: Badaboom;
    src: url(../fonts/BADABB__.TTF);
}