html {
    text-align: justify;
    height: 100%;
    counter-reset: user-req-number sw-req-number;
}

body {
    width: 100%;
    background-color: rgba(255, 230, 203, 0.561);
}

article {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    min-height: 100%;
    padding: 10px 45px 10px 45px;
    box-shadow: 4px 0 4px rgba(68,68,68,0.6), -4px 0 4px rgba(68,68,68,0.6);
}

img {
    width: 100%;
    height: auto;
    border: 1px solid #666;
    border-radius: 10px;
}

dt {
    font-family: 'Courier New', Courier, monospace;
}

#user-req dt::before {
    content: "#USR-REQ" counter(user-req-number) " ";
    counter-increment: user-req-number;
    font-weight: bold;
}

#sw-req dt::before {
    content: "#SW-REQ" counter(sw-req-number) " ";
    counter-increment: sw-req-number;
    font-weight: bold;
}

dd::after {
    display: block;
    content: "";
    padding: 5px;
}

dl {
    padding-left: 30px;
}

figcaption::after {
    content: "";
    display: block;
    padding-bottom: 10px;
}

figcaption {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    article {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        min-height: 100%;
        padding: 10px 45px 10px 45px;
        box-shadow: 4px 0 4px rgba(68,68,68,0.6), -4px 0 4px rgba(68,68,68,0.6);
    }
}

@media only screen and (min-width: 600px) {
    article {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        min-height: 100%;
        padding: 10px 45px 10px 45px;
        box-shadow: 4px 0 4px rgba(68,68,68,0.6), -4px 0 4px rgba(68,68,68,0.6);
    }
}

@media only screen and (min-width: 768px) {
    article {
        width: 80%;
        margin: 0 auto;
        background-color: white;
        min-height: 100%;
        padding: 10px 45px 10px 45px;
        box-shadow: 4px 0 4px rgba(68,68,68,0.6), -4px 0 4px rgba(68,68,68,0.6);
    }
}

@media only screen and (min-width: 992px) {
    article {
        width: 65%;
        margin: 0 auto;
        background-color: white;
        min-height: 100%;
        padding: 10px 45px 10px 45px;
        box-shadow: 4px 0 4px rgba(68,68,68,0.6), -4px 0 4px rgba(68,68,68,0.6);
    }
}

@media only screen and (min-width: 1200px) {
    article {
        width: 50%;
        margin: 0 auto;
        background-color: white;
        min-height: 100%;
        padding: 10px 45px 10px 45px;
        box-shadow: 4px 0 4px rgba(68,68,68,0.6), -4px 0 4px rgba(68,68,68,0.6);
    }
}