/* Stylesheet used for the wiki portal.
Responsive gallery adapted from the following W3Schools example: https://www.w3schools.com/css/css_image_gallery.asp */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: url(../images/wiki-back.jpg);
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: rgba(145, 206, 241, 0.9);
    min-height: 100%;
    font-size: 18px;
    border-radius: 50px;
}

header {
    font-family: 'Badaboom';
    text-align: center;
    background-color: rgba(9, 1, 80, 0.6);
    padding: 20px 20px;
    font-size: 70px;
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.explanation {
    padding: 10px 0;
    margin: 0 50px;
}

.gallery {
    overflow: hidden;
    border-radius: 10px;
}

.gallery:hover img {
    transform: scale(1.3) rotate(5deg);
    opacity: 0.9;
}

.gallery:hover .desc {
    opacity: 0;
}

.gallery .desc {
    transition: all 0.3s;
}
  
.gallery img {
    width: 100%;
    height: auto;
    transition: all 0.3s;
}

.desc {
    padding: 15px;
    text-align: center;
    background-color: rgba(9, 1, 80);
}

.responsive {
    font-weight: bold;
    color: white;
    float: left;
    width: 24.99999%;
    padding: 10px;
}
  
@media only screen and (max-width: 1200px) {
    .responsive {
      width: 33.33333%;
    }
}
  
@media only screen and (max-width: 900px) {
    .responsive {
        width: 49.99999%;
    }
}

@media only screen and (max-width: 600px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.navigators {
    padding-top: 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.prev {
    grid-column: 2;
}

.home {
    grid-column: 3;
}

.next {
    grid-column: 4;
}

.home img {
    width: 100%;
    height: auto;
    filter: invert(100%);
}

.prev, .next, .home {
    font-size: 30px;
    width: 30%;
    color: white;
    background-color: rgba(9, 1, 80);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    justify-self: center;
    transition: 0.3s;
}

.prev:hover, .next:hover, .home:hover {
    opacity: 0.8;
    cursor: pointer;
}

.prev:focus, .next:focus, .home:focus {
    outline: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    .home {
        width: 45%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        width: 100%;
    }

    .home {
        width: 40%;
    }
}

@media only screen and (min-width: 900px) {
    .home {
        width: 35%;
    }
}

@media only screen and (min-width: 1200px) {
    .home {
        width: 30%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1680px) {
    body {
        width: 65%;
    }

    .home {
        width: 25%;
    }
}

@font-face {
    font-family: Badaboom;
    src: url(../fonts/BADABB__.TTF);
}