/**
* The main container for the page. It divides the page in 3 sections.
*/
body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100vh;
    margin: -8px;
}

/**
* Definies each section within the page.
* The left is for the Training area, the center is for the main content and buttons, the right one is for the Arena area.
*/

.grid-part-left {  
    background-color: rgb(117, 208, 238);
}

.grid-part-center {
    background-color: rgb(149, 236, 171);
}

.grid-part-right {
    background-color: rgb(235, 152, 152);
}



/**
* An element within the grid.
*/
.grid-element {
    text-align: center;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-size: 30px;
}

/**
* Common stuff
*/

.title {
    margin-top: 40%;
    font-size: 50px;
}

.description {
    margin: 20% 20px 0px 20px;
    font-size: 20px;
}

.cards-showcase {
    display: block;
    margin-top: 20%;
}

.cards-showcase>.card{
    display: block;
    position: relative;
    margin: 10% auto 20px auto;
    width: 150px;
}

.cards-showcase .left-arrow {
    width: 50px;
}
.cards-showcase .right-arrow {
    width: 50px;
}
.cards-showcase .information {
    width: 50px;
}
.cards-showcase .locked {
    width: 50px;
}

/**
* The left part of the page
*/


/**
* The central part of the page
*/
.main-btn {
    width: 300px;
    height: 70px;
    font-size: 30px;
    background-color: lightcoral;
    border: 5px dashed black;
    transition: 0.3s;
}

.main-btn:hover {
    background-color: rgb(138, 209, 253);
    width: 500px;
    height: 100px;
    font-size: 50px;
    cursor: pointer;
}

#logout {
    font-size: 20px;
    position: relative;
    background-color: lightcoral;
    border: 3px dashed black;
    width: 100px;
    height: 35px;
    top: 20px;
    left: 30px;
    transition: 0.3s;
}

#logout:hover {
    background-color: rgb(138, 209, 253);
    font-size: 35px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

#wiki {
    margin-top: 30%;
}

#how-to-play {
    margin-top: 20%;
}

#leaderboard {
    margin-top: 20%;
}

.language-button {
    position: relative;
    float:right;
    width: 45px;
    height: 30px;
    top: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.language-button>img {
    width: 45px;
    height: 30px;
}

.language-button>button {
    
    opacity: 0;
    transform: translate(0, -115%);
    width: 45px;
    height: 30px;
}

.language-button>button:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 50px;
    padding-left: 30px;
    font-size: 20px;
    
}

